.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.share-container {
  margin-bottom: 17px;
  *zoom: 1;
}
.share-container:before,
.share-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.share-container:after {
  clear: both;
}
.share-container:after {
  clear: both;
}
.share-container .share-item {
  margin-right: 20px;
  float: left;
}
.map-container {
  margin-left: 0px;
}
.map-container header {
  margin-left: 0px;
}
.map-container header h3,
.map-container header h4 {
  font-size: 16px;
  margin: 0;
  line-height: 16px;
  color: #ffffff;
}
.map-container header h2 {
  font-size: 16px;
  margin: 0;
  line-height: 16px;
  color: #eb2438;
}
.map-container header p {
  font-size: 12px;
  margin-bottom: 10px;
}
.map-container header.bg-red {
  padding: 16px 26px;
}
.map-container footer {
  width: 308px;
  top: -8px;
  border: 1px solid #919395;
  border-top: none;
}
.map-container footer ul {
  min-height: 55px;
  margin: 0;
}
.map-container footer ul li {
  margin-top: 13px;
}
.map-container footer.bg-gray {
  padding-right: 40px;
}
footer.map-area-de-atuacao {
  width: 928px;
}
.side-menu:after {
  margin-top: 0px;
}
.side-menu .imagem img {
  margin-top: 25px;
}
span.bg-agua-e-esgoto {
  margin-left: 54px;
  margin-bottom: 20px;
}
.box-image div.img-residuos {
  margin-left: 20px;
  margin-bottom: 20px;
}
.box-image div.img-residuos img {
  width: 640px;
  height: 87px !important;
}
.box-image div.img-utilities {
  margin-left: 20px;
  margin-bottom: 20px;
}
.box-image div.img-utilities img {
  width: 640px;
  height: 87px !important;
}
div.accordion div.accordion-group div.accordion-heading a {
  font-weight: bold;
}
@font-face {
  font-family: 'Odebrecht Sans';
  src: url('fonts/odebrecht-sans.otf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Odebrecht Sans Bold';
  src: url('fonts/odebrecht-sans-bold.otf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Odebrecht Sans Italic';
  src: url('fonts/odebrecht-sans-italic.otf');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Odebrecht Sans Bold Italic';
  src: url('fonts/odebrecht-sans-bold-italic.otf');
  font-weight: bold;
  font-style: bold;
}
.print-icon {
  background-image: url(../images/icon-imprimir.jpg);
  background-repeat: no-repeat;
  width: 28px;
  height: 26px;
  float: left;
  margin: -3px 5px 0 -30px;
}
.agua-map-icon,
.residuos-map-icon,
.utilities-map-icon {
  background-repeat: no-repeat;
  width: 17px;
  height: 25px;
  float: left;
  margin-right: 5px;
}
.agua-map-icon {
  background-image: url(../images/icon-map-agua.png);
}
.residuos-map-icon {
  background-image: url(../images/icon-map-residuos.png);
}
.utilities-map-icon {
  background-image: url(../images/icon-map-utilities.png);
}
body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #919395;
  background-color: #ffffff;
}
a {
  color: #919395;
  text-decoration: none;
}
a:hover {
  color: #6b6d6f;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
body {
  font-size: 14px;
  line-height: 26px;
  padding-top: 0 !important;
}
a {
  color: #919395;
  text-decoration: none;
}
a:hover {
  color: #6b6d6f;
  text-decoration: underline;
}
p {
  margin: 0 0 13px;
}
.lead {
  margin-bottom: 26px;
  font-size: 21px;
  font-weight: 200;
  line-height: 39px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
.text-warning {
  color: #c09853;
}
.text-error {
  color: #b94a48;
}
.text-info {
  color: #3a87ad;
}
.text-success {
  color: #468847;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 13px 0;
  font-family: "Odebrecht Sans Bold", "Tahoma Bold";
  font-weight: normal;
  line-height: 1;
  color: #eb2438;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 {
  font-size: 36px;
  line-height: 40px;
}
h2 {
  font-size: 30px;
  line-height: 40px;
}
h3 {
  font-size: 28px;
  line-height: 40px;
}
h4 {
  font-size: 18px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
h1 small {
  font-size: 24px;
}
h2 small {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 12px;
  margin: 26px 0 39px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 13px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 26px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 26px;
}
dt,
dd {
  line-height: 26px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 13px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 26px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.5px;
}
blockquote small {
  display: block;
  line-height: 26px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 26px;
  font-style: normal;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Odebrecht Sans Bold", "Tahoma Bold";
  font-weight: normal;
  color: #eb2438;
}
h3 {
  font-size: 20px;
  line-height: 40px;
}
.text-blue {
  color: #00adc6;
}
.text-red {
  color: #eb2438;
}
.text-gray {
  color: #75787b;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}
.bg-diagonal {
  background-image: url(../images/diagonal-pattern.png);
  height: 22px;
  display: block;
}
.bg-header {
  background: url(../images/bg-header.png) no-repeat 45% 90%;
  background-color: #eb2438;
  display: block;
  height: 110px;
}
.bg-water {
  background: url(../images/bg-fundo-agua.jpg) no-repeat;
  display: block;
  width: 639px;
  height: 160px;
}
.bg-atuacao {
  background-color: #eb2438;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 150px;
  position: relative;
}
.bg-atuacao.bg-agua-esgoto {
  background-image: url(../images/agua-esgoto.png);
}
.bg-atuacao.bg-residuos {
  background-image: url(../images/residuos.png);
}
.bg-atuacao.bg-utilities {
  background-image: url(../images/utilities.png);
}
.bg-atuacao h2,
.bg-atuacao h3,
.bg-atuacao h4 {
  left: 10px;
  bottom: 10px;
  clear: both;
  position: absolute;
  max-width: 55%;
  display: block;
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 0;
  padding-bottom: 3px;
  border-bottom: #ffffff;
}
.bg-atuacao h2 span,
.bg-atuacao h3 span,
.bg-atuacao h4 span {
  background-color: #eb2438;
  margin-bottom: -10px;
}
.bg-red {
  background-color: #eb2438;
  color: #ffffff;
}
.bg-gray {
  border: none;
  background-color: #e9e9e9;
}
.bg-footer {
  background: url(../images/footerimg.jpg) no-repeat;
  display: block;
  width: 196px;
  height: 316px;
}
.bg-agua-e-esgoto {
  background: url(../images/img-agua-e-esgoto.png) no-repeat;
  display: block;
  width: 606px;
  height: 90px;
}
@charset "utf-8";
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
body {
  line-height: 1;
  background: url(../img/body_mainbg.jpg) no-repeat center center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  outline: 0;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
a,
img a,
img,
a img {
  border: 0;
  outline: 0;
  text-decoration: none;
}
.fltleft {
  float: left;
}
.fltright {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.clrflt {
  clear: both;
  line-height: 1px;
  font-size: 1px;
  overflow: hidden;
}
@font-face {
  font-family: 'serif_medium_italicserifMdIt';
  src: url('../fonts/serimi__-webfont.eot');
  src: url('../fonts/serimi__-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/serimi__-webfont.woff') format('woff'), url('../fonts/serimi__-webfont.ttf') format('truetype'), url('../fonts/serimi__-webfont.svg#serif_medium_italicserifMdIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuelt_std_med_cnRg';
  src: url('../fonts/helveticaneueltstd-mdcn-webfont.eot');
  src: url('../fonts/helveticaneueltstd-mdcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltstd-mdcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-mdcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-mdcn-webfont.svg#helveticaneuelt_std_med_cnRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuelt_std_med_cnIt';
  src: url('../fonts/helveticaneueltstd-mdcno-webfont.eot');
  src: url('../fonts/helveticaneueltstd-mdcno-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltstd-mdcno-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-mdcno-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-mdcno-webfont.svg#helveticaneuelt_std_med_cnIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'univers_lt_std_59_ultracnRg';
  src: url('../fonts/universltstd-ultracn-webfont.eot');
  src: url('../fonts/universltstd-ultracn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/universltstd-ultracn-webfont.woff') format('woff'), url('../fonts/universltstd-ultracn-webfont.ttf') format('truetype'), url('../fonts/universltstd-ultracn-webfont.svg#univers_lt_std_59_ultracnRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'serif_blackitalicserifBlkIt';
  src: url('../fonts/seribli_-webfont.eot');
  src: url('../fonts/seribli_-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/seribli_-webfont.woff') format('woff'), url('../fonts/seribli_-webfont.ttf') format('truetype'), url('../fonts/seribli_-webfont.svg#serif_blackitalicserifBlkIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header {
  background: url(../img/header.jpg) repeat-x left top;
  height: 202px;
  border-bottom: 1px solid #4d4d4d;
  z-index: 999;
  position: relative;
  width: 100%;
}
.header_wrap {
  width: 940px;
  margin: 0px auto;
}
.header_top {
  padding: 5px 0 0 0;
  height: 21px;
  float: right;
}
.header_top ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.header_top ul li {
  float: left;
  font-size: 12px;
  background: url(../img/sep.jpg) no-repeat right center;
  line-height: 21px;
  height: 21px;
}
.header_top ul li a {
  display: block;
  color: #4d4d4d;
  padding: 0 10px;
  height: 21px;
}
.header_top ul li a:hover {
  background: url(../img/login_hover.jpg) repeat-x left top;
}
.header_top ul li img {
  float: left;
  margin: 5px 4px 0 0;
}
.header_top ul li.last {
  background: none;
}
.header_top ul li.last a {
  padding-right: 0px;
}
.header_midd {
  position: relative;
  height: 53px;
  padding: 34px 0 0 0;
  margin-bottom: 29px;
  z-index: 99;
}
.logo {
  position: absolute;
  width: 217px;
  height: 103px;
  top: -16px;
  left: -6px;
}
.logo span {
  position: absolute;
  top: 7px;
  left: 143px;
  width: 88px;
  height: 34px;
}
.form_area {
  width: 717px;
}
.form_area label {
  float: left;
  height: 43px;
  line-height: 43px;
  width: 30px;
  text-align: center;
  display: block;
  color: #4d4d4d;
}
.text_box {
  height: 30px;
  background: #eeeeee;
  width: 235px;
  float: left;
  padding: 11px 0 0 0;
  border: 1px solid #a4a4a4;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}
.search_bt {
  border: none;
  outline: none;
  width: 28px;
  height: 17px;
  background: url(../img/search_bg.png) no-repeat left 2px;
  float: left;
  margin-left: 8px;
}
.text_field {
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
  color: #4d4d4d;
  height: 17px;
  line-height: 16px;
}
.select_box {
  width: 365px;
  float: left;
  margin-right: 11px;
  outline: none;
}
.input-text {
  background: #eeeeee url(../img/dd_arrow.jpg) no-repeat right center;
  border: 1px solid #a4a4a4;
  color: #4D4D4D;
  border-radius: 10px;
  padding: 5px 16px;
  text-indent: 0;
  cursor: default;
  height: 30px;
  position: relative;
}
.input-text input {
  height: 20px;
  border: 0px;
  font-size: 13px;
  line-height: 15px;
  width: 310px;
  color: #4D4D4D;
  padding: 5px 0px;
  background: #eeeeee;
}
#locmenu {
  width: 340px;
  height: auto;
  position: absolute;
  left: 10px;
  top: 40px;
  padding: 10px 0px;
  border: 1px solid #c6c6c6;
  border-top: 0px;
  background: #eeeeee;
  display: none;
}
#locmenu ul {
  padding: 0px 16px;
}
#locmenu ul li a {
  color: #333;
  font-size: 12px;
  display: block;
  padding: 5px 2px;
}
#locmenu ul li a:hover {
  background: #FFF;
}
.buscar_bt {
  background: #f41d36;
  float: left;
  width: 74px;
  height: 43px;
  border: none;
  outline: none;
  font-size: 23px;
  color: #fff;
  font-family: 'univers_lt_std_59_ultracnRg';
  border-radius: 10px 10px 10px 10px;
  position: relative;
}
.buscar_bt:hover {
  background: #4270b0;
}
.ym-hlist {
  position: relative;
}
.ym-hlist ul {
  display: inline;
  float: left;
  margin: 0;
}
.ym-hlist ul li {
  display: inline;
  float: left;
  font-size: 1em;
  line-height: 1em;
  list-style-type: none;
  margin: 0 0.25em 0 0;
  padding: 0;
  position: relative;
}
.ym-hlist ul li a.active {
  background: #EEEEEE;
  color: #666666;
  outline: 0 none;
  text-decoration: none;
  border: 1px solid #e2e2e2;
}
.ym-hlist ul li a,
.ym-hlist ul li strong {
  background: url(../img/icon-triangle.png) no-repeat scroll 92% 50% transparent;
  color: #8F8F8F;
  display: block;
  font-family: "univers_lt_std_59_ultracnRg", "Arial Black", Gadget, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 2em;
  padding: 0 0.9em;
  border-radius: 4px 4px 0px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  width: auto;
}
.ym-hlist ul li a:hover,
.ym-hlist ul li a.active,
.ym-hlist ul li:hover a {
  background: url(../img/icon-triangle.png) no-repeat scroll 92% 50% #eeeeee;
  color: #666666;
  outline: 0 none;
  text-decoration: none;
  border: 1px solid #e2e2e2;
}
.drop_down_menu {
  display: none;
  width: 714px;
  height: 254px;
  padding: 23px 0 17px 12px;
  background: #eeeeee;
  position: absolute;
  top: 61px;
  left: 0px;
  border: 1px solid #e2e2e2;
  box-shadow: 1px 3px 0px #d9d9da;
  border-top: none;
  z-index: 9999;
}
.drop_down_menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
  width: 178px;
}
.drop_down_menu ul li {
  color: #333333;
  padding: 1px 0 !important;
  font-size: 12px !important;
  display: block;
  float: none;
}
.drop_down_menu ul li a {
  color: #333333;
  display: block;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0px 0px 0px 0px !important;
  border: none !important;
  font-size: 12px !important;
  background: none !important;
}
.drop_down_menu ul li a:hover {
  background: #fff !important;
  font-weight: bold;
  color: #333333;
}
.submenu3 {
  left: -100px !important;
}
.submenu4 {
  left: -200px !important;
}
.submenu5 {
  left: -400px !important;
}
.submenu6 {
  left: -576px !important;
}
.content_wrap {
  width: 949px;
  margin: 0px auto;
  padding: 20px 0 0 11px;
}
.content_wrap h1 {
  color: #f41d36;
  font-size: 40px;
  font-family: 'serif_medium_italicserifMdIt';
  font-weight: normal;
  margin-bottom: 12px;
  letter-spacing: 2px;
}
.main_content {
  width: 890px;
  background: #fff;
  padding: 0px 30px 0 20px;
  margin-bottom: 19px;
  position: relative;
  border: 1px solid #b3b3b3;
  box-shadow: 1px 1px 0px #b3b3b3;
}
.escolha_box {
  padding: 35px 0 40px 0;
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 14px;
}
.escolha_box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.escolha_box ul li {
  float: left;
  font-size: 18px;
  font-family: 'helveticaneuelt_std_med_cnRg';
  padding: 0 23px;
  display: block;
}
.escolha_box ul li a {
  display: inline-block;
  color: #4d4d4d;
}
.escolha_box ul li a strong {
  font-size: 60px;
  display: inline-block;
  color: #f42230;
  font-family: 'serif_blackitalicserifBlkIt';
  position: relative;
  font-weight: normal;
  top: 6px;
}
.escolha_box ul li a span {
  display: inline-block;
  font-size: 18px;
  height: 22px;
  font-family: 'helveticaneuelt_std_med_cnRg';
  color: #4d4d4d;
  padding: 0 0 0 9px;
}
.escolha_box ul li.first_1 {
  padding: 0px 17px 0 0;
}
.face_book_info {
  border-bottom: 1px solid #777777;
  padding: 0 30px 14px 0;
}
.client_area {
  border-right: 1px solid #EEEEEE;
  float: left;
  height: 120px;
  width: 465px;
}
.client_area.no_height {
  height: 45px;
  margin-bottom: 17px;
  width: 300px;
}
.client_area a.big-action-button.facebook-signin {
  background-color: #264285;
  border: 1px solid #264285;
  float: left;
  margin-right: 25px;
  padding: 0 15px;
}
.client_area a.big-action-button.facebook-signin.nomar1 {
  margin: 0px;
}
.client_area a.big-action-button.facebook-signin.getheight1 {
  height: 45px !important;
  width: 250px !important;
}
.client_area a.big-action-button.facebook-signin span.icon {
  background: url(../img/fb_icon.png) no-repeat scroll 0 0 transparent;
  float: left;
  height: 45px;
  margin-right: 8px;
  width: 40px;
}
p {
  color: #4D4D4D;
  font-family: 'helveticaneuelt_std_med_cnRg', Arial, sans-serif;
  font-size: 24px;
  width: 352px;
  padding: 0 0 20px 0;
}
.client_area a.big-action-button,
.restaurant_area a.big-action-button {
  border: 1px solid;
  border-radius: 7px 7px 7px 7px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(255, 255, 255, 0.75) inset;
  color: white;
  display: inline-block !important;
  font-size: 16px !important;
  line-height: 45px !important;
  margin-bottom: 7px;
}
.client_area a.big-action-button:hover,
.restaurant_area a.big-action-button:hover {
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(255, 255, 255, 0.8) inset;
  text-decoration: none;
}
.client_area a.big-action-button:active,
.restaurant_area a.big-action-button:active {
  border: medium none;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.2) inset;
  color: #F2F2F2;
  text-decoration: none;
}
.client_area a.big-action-button.red,
a.big-action-button.red,
.restaurant_area a.big-action-button.red,
a.big-action-button.red {
  border: 1px solid #F41D36;
  float: left;
  margin: 0;
}
.restaurant_area {
  float: left;
  height: 120px;
  padding: 0px 0px 0 30px;
  width: auto;
}
.line {
  background: #FCFCFC;
  display: block;
  height: 5px;
  margin: 90px 0 0;
}
.add_info_area {
  height: 143px;
}
.left_text_box {
  line-height: 143px;
  font-size: 24px;
  font-family: 'helveticaneuelt_std_med_cnRg', Arial, sans-serif;
  color: #4d4d4d;
  width: 438px;
}
.right_logo_area {
  padding: 27px 0 26px 0;
}
.right_logo_area a {
  height: 81px;
  float: left;
  display: block;
  margin-right: 20px;
}
.right_logo_area a.last_logo {
  margin-right: 0px;
}
.public_info {
  width: 738px;
  margin-bottom: 11px;
  background: #fff;
  padding: 13px;
  height: 106px;
  margin: 0px auto;
  border: 1px solid #b3b3b3;
}
.public_info h3 {
  font-size: 12px;
  color: #4d4d4d;
  margin-bottom: 6px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 243px;
}
.footer {
  border-top: 1px solid #4d4d4d;
  background: #FCFCFC;
  height: 243px;
  position: relative;
  margin-top: -243px;
  clear: both;
}
.footer_wrap {
  width: 960px;
  margin: 0px auto;
}
.border_top {
  height: 3px;
  position: relative;
  top: -9px;
}
.footer_top {
  padding: 20px 0 48px 15px;
  border-bottom: 1px solid #4d4d4d;
}
.footer_food-info_box {
  width: 144px;
  margin-right: 36px;
}
.footer_food-info_box h3 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 11px;
  color: #4d4d4d;
}
.footer_food-info_box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.footer_food-info_box ul li {
  margin-bottom: 8px;
}
.footer_food-info_box ul li a {
  color: #4d4d4d;
  display: block;
}
.footer_food-info_box ul li a:hover {
  text-decoration: underline;
}
.footer_bottom {
  height: 45px;
}
.terms_left_box {
  width: 350px;
}
.terms_left_box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.terms_left_box ul li {
  float: left;
  line-height: 45px;
  padding: 0 9px;
  color: #4d4d4d;
  background: url(../img/footer_sep.jpg) no-repeat right center;
}
.terms_left_box ul li a {
  color: #4d4d4d;
  display: block;
}
.terms_left_box ul li a:hover {
  text-decoration: underline;
}
.terms_left_box ul li.footer_last {
  background: none;
}
.content_food {
  padding: 0 36px 0 0;
  line-height: 45px;
  font-size: 13px;
  font-weight: bold;
  color: #4d4d4d;
}
.light_box {
  padding: 11px 10px 0 23px;
  margin: 0px auto;
  background: #eeeeee;
}
.light_box span {
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 13px;
  display: block;
}
.left_conectese_box {
  width: 259px;
  margin: 0 50px 30px 0;
}
.left_conectese_box h2 {
  font-size: 24px;
  font-family: 'helveticaneuelt_std_med_cnRg', Arial, sans-serif;
  color: #4D4D4D;
  font-weight: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid #666666;
  margin-bottom: 27px;
}
.text_field1 {
  width: 244px;
  height: 26px;
  padding: 7px 0 7px 15px;
  border: 1px solid #666666;
  color: #333333;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
}
.check_box {
  width: 143px;
  padding: 10px 0 10px 0;
}
.check_box label {
  line-height: 17px;
  font-size: 14px;
  color: #2E3192;
}
.check_box1 {
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 5px;
}
.enter_bt {
  width: 98px;
  background: #F41D36;
  height: 40px;
  border: none;
  outline: none;
  float: right;
  color: #fff;
  font-family: 'univers_lt_std_59_ultracnRg';
  font-size: 22px;
  letter-spacing: 2px;
  border-radius: 3px 3px 3px 3px;
  position: relative;
}
.enter_bt:hover {
  background: #4270b0;
}
.right_cadastardo_box {
  width: 308px;
}
.right_cadastardo_box h2 {
  font-size: 24px;
  font-family: 'helveticaneuelt_std_med_cnRg', Arial, sans-serif;
  color: #4D4D4D;
  font-weight: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid #666666;
  margin: 0 117px 27px 0px;
}
.right_cadastardo_box span {
  float: none;
  font-size: 14px;
  color: #333333;
  font-family: 'univers_lt_std_59_ultracnRg';
  font-weight: normal;
  display: block;
}
.right_cadastardo_box span strong {
  font-size: 22px;
  font-weight: normal;
}
.right_cadastardo_box span strong a {
  text-decoration: none;
  color: #333333;
}
.right_cadastardo_box span strong a:hover {
  color: #2e3192;
}
.senha_text_box {
  height: 51px;
  border-top: 1px solid #666666;
  line-height: 50px;
  color: #2E3192;
}
.senha_text_box a {
  color: #2E3192;
  text-decoration: none;
}
.senha_text_box a:hover {
  text-decoration: underline;
  color: #000;
}
.ui-combobox {
  position: relative;
  display: inline-block;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  *height: 1.7em;
  *top: 0.1em;
  background: url(images/but-strip.gif) repeat-x;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.3em 10px;
  width: 268px;
  height: 20px;
  color: #000;
}
